@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Outfit', 'Roboto Condensed', sans-serif;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  color: inherit;
}

.app{
  width: 80%;
  margin: auto;
}